.App {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #acacac;
}

.App-layout {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
}

.App-sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
}

.sidebar-closed .App-sidebar {
  margin-left: -100%;
}

.App-content {
  display: none;
  flex-direction: column;
  flex: 1 0 auto;
  border-left: 1px solid #acacac;
}

.sidebar-closed .App-content {
  display: flex;
}

@media screen and (min-width: 768px) {
  .App-sidebar {
    width: 20rem;
  }
  .App-content {
    display: flex;
  }
  .sidebar-open .App-sidebar {
    margin-left: 0;
  }
  .sidebar-closed .App-sidebar {
    margin-left: -20rem;
    width: 20rem;
  }
  .sidebar-closed .App-content {
    display: flex;
  }
}

.App-link {
  color: #61dafb;
}
