.NoteList {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
.NoteListItem {
  cursor: pointer;
  padding: 10px;
}
.NoteListItem.active {
  background-color: lightsteelblue;
}
